html, body {
  position: absolute;

  height: 100%;
  width: 100%;
  margin: 0;

  overflow: hidden;/**/
}

#wrapper {
  position: relative;

  height: 99%;
  width: 80%;
  margin: auto;
  
  overflow: hidden;
}

#playableArea {
  position:relative;
  margin: auto;
  height: 99%;
  width:101.5%;

  /*
  overflow-x: hidden;
  overflow-y: scroll;
  */
  overflow-x: hidden;
  overflow-y: auto;


  border: 1px solid;
  /*background-image: url(road.png);*/
  
  /*z-index:0;*/
}

#player {
  top:20px;
  left:37%;
  position: absolute;

  width:40px;
  height:40px;

  background:green;
}

.car {
  width:100px;
  height:70px;
  position:absolute;

  border-radius: 10px;

  background-color: blue;
  
  background: url(rumbler.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
