
#playableArea {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  height:400px;

  border: 1px solid;
  overflow:hidden;
  
  /*background-image: url(road.png);*/
  
  /*z-index:0;*/
}

.car {
  width:100px;
  height:70px;
  position:absolute;

  background-color: blue;
  
  background: url(rumbler.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#car1 {
  top:100px;
}

#car2 {
  top:200px;
}

#car3 {
  top:300px;
}

#player {
  top:20px;
  left:37%;
  position: absolute;

  width:40px;
  height:40px;

  background:green;
}